# This file contains common pin mappings for the Fysetc CATALYST V1.0
# board. To use this config, the firmware should be compiled for the
# STM32F401 with "No bootloader" and Communication interface USB

# After running "make", run the following command to flash the board:
# dfu-util -R -a 0 -s 0x08000000:leave -D out/klipper.bin

## Voron Design VORON 0.2 
## FYSETC CATALYST V1.0 config

## *** THINGS TO CHANGE/CHECK: ***
## MCU path                                                                     [mcu] section
## Z and Extruder motor currents                                                [tmc2209 stepper_*] sections. Uncomment the stepper motor you have
## Full steps per rotation for Extruder                                         [extruder] section
## Thermistor types                                                             [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Extruder motor currents                                                      [extruder] section
## PID tune                                                                     [extruder] and [heater_bed] sections
## Fine tune E steps                                                            [extruder] section

## For more info                                                                check https://docs.vorondesign.com/build/startup/#v0
# See docs/Config_Reference.md for a description of parameters.
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True
variable_custom_park_x    : 115.0   ; Parken hinten rechts
variable_custom_park_y    : 115.0
variable_custom_park_dz   : 50.0    ; Kopf hebt 20mm ab
variable_cancel_retract   : 5.0     ; Retract bei Abbruch
variable_retract          : 2.0     ; Retract bei Pause (Orbiter mag ca. 2mm)
variable_park_at_cancel   : True
variable_runout_detected: "O2S: Filament Runout detected!"
gcode:

[include mainsail.cfg]
# [include EBB36_Sample.cfg]
[include EBB36_mit_LEDs.cfg]
[include Orbiter2_SmartSensor.cfg]
[include klicky-probe.cfg]
[include heatsoak.cfg]
[include macros.cfg]
[include clean_backups.cfg]
[include KAMP_Overrides.cfg]
# [include nevermore.cfg]
[include klipperExpander.cfg]


[extruder]
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
sensor_pin: EBBCan: PA3
sensor_type: ATC Semitec 104NT-4-R025H42G
full_steps_per_rotation: 200    # Set to 200 for 1.8 degree motor, set to 400 for 0.9 degree stepper motor
rotation_distance: 22.6730439
# rotation_distance:  22.66434086532
# rotation_distance: 21.56        # See calibrating rotation_distance on extruders doc
gear_ratio: 50:10               # For Mini Afterburner
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
# pwm_cycle_time: 0.01
pwm_cycle_time: 0.02     # Schnellerer Zyklus für feinere Steuerung (50Hz)
max_power: 1
smooth_time: 0.02
# smooth_time: 0.1
min_temp: 0
max_temp: 300
min_extrude_temp: 180  # set 10 to test,please change to 170 for real use
max_extrude_only_distance: 250
max_extrude_cross_section: 5
#pressure_advance: 0.2   # See tuning pressure advance doc
# pressure_advance_smooth_time: 0.040
      # Wir senken die Glättung! Damit Klipper den Anstieg SCHNELLER sieht

#control: pid
#pid_Kp: 22           # Niedriges Kp: Verhindert, dass er mit 80% Power bis zum Ende durchballert
#pid_Ki: 5           # Fast kein Ki, um das "Nachdrücken" zu stoppen
#pid_Kd: 45


[probe]
pin: ^EBBCan: PB3          # ^ aktiviert den Pull-up Widerstand
x_offset: -16.50            # Standard für V0 Klicky
y_offset: 13.25          # Standard Offset - bitte nachmessen!
#z_offset: 9.907       # Erstmal grober Wert, danach kalibrieren
speed: 5
samples: 2
sample_retract_dist: 2.0      # Erhöhe das auf 3.0, um mehr Abstand nach dem Fehltrigger zu gewinnen
lift_speed: 5
samples_result: median
samples_tolerance: 0.0125
samples_tolerance_retries: 3

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_3B005F001751323133393639-if00


[fan_generic Nevermore]
pin: PA14 			# Catalyst 2.0
#cycle_time: 0.05		# Doesn't seem to be needed
kick_start_time: 0.5



[printer]
kinematics: corexy
max_velocity: 400
max_accel: 14000
# max_accel_to_decel: 1500
max_z_velocity: 15  #15
max_z_accel: 500
square_corner_velocity: 5.0

#######################################################################################

#       AUTOTUNE TEST SECTION

[autotune_tmc stepper_x]
motor: fysetc-35hsh7402-24b-60a
tuning_goal: auto
sg4_thrs: 100

[autotune_tmc stepper_y]
motor: fysetc-35hsh7402-24b-60a
tuning_goal: auto
sg4_thrs: 100

# [autotune_tmc stepper_z]
# motor: fysetc-42hsc1404b-200n8
# tuning_goal: auto

# [autotune_tmc extruder]
# motor: ldo-36sth20-1004ahg


#########################################################################################


#####################################################################
#      X/Y Stepper Settings   X=B   Y=A
#####################################################################

[stepper_x]
step_pin: PC12
## Refer to https://docs.vorondesign.com/build/startup/#v0
dir_pin: !PC10                                                      # Check motor direction in link above. If inverted, remove ! before PC13
enable_pin: !PD2
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200                                        # Set to 400 for 0.9 degree stepper motor, 200 is for 1.8 degree stepper motors
#endstop_pin: ^PA3
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 120
position_max: 125
homing_speed: 40                                                    # for sensorless homing it is recommended not to go above 40mm/s   
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC11
interpolate: True
run_current: 0.75
# hold_current: 0.4
sense_resistor: 0.110
# stealthchop_threshold: 0                                      # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle
diag_pin: PB3                                                       # YOU NEED TO JUMP THIS DIAG PIN ON YOUR BOARD FOR SENSORLESS HOMING TO WORK 
# driver_SGTHRS: 100                                                  # this is set to 255 which is the MAX sensitivity for sensorless homing, you will need to tune this later

[stepper_y]
step_pin: PC15
## Refer to https://docs.vorondesign.com/build/startup/#v0
dir_pin: !PC13                                                      # Check motor direction in link above. If inverted, remove ! before PC1
enable_pin: !PA10
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200                                        # Set to 400 for 0.9�?degree stepper motor, 200 is for 1.8�?stepper motors
#endstop_pin: ^PA2
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 120
position_max: 120
homing_speed: 40                                                    # for sensorless homing it is recommended not to go above 40mm/s   
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PC14
interpolate: True
run_current: 0.75
# hold_current: 0.4
sense_resistor: 0.110
# stealthchop_threshold: 0                                      # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle
diag_pin: ^PA9                                                      # YOU NEED TO JUMP THIS DIAG PIN ON YOUR BOARD FOR SENSORLESS HOMING TO WORK 
# driver_SGTHRS: 100                                                  # this is set to 255 which is the MAX sensitivity for sensorless homing, you will need to tune this later

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PB2
dir_pin: PC5	                                                    # Remove the ! before PB8 if motor direction is inverted.
enable_pin: !PB10
rotation_distance: 8                                                # For T8x8 lead screw
#rotation_distance: 2                                               # For T8x2 lead screw
microsteps: 32
endstop_pin: ^PA3
#position_endstop: 120
position_max: 120
position_min: -7
homing_speed: 20
second_homing_speed: 5.0
homing_retract_dist: 5.0

[tmc2209 stepper_z]
uart_pin: PC4
#tx_pin: PA2
#uart_address: 2
interpolate: True
# For FYSETC 42HSC1404B-200N8
run_current: 0.5
hold_current: 0.1
sense_resistor: 0.110
# stealthchop_threshold: 0                                             # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle

#####################################################################
#   Extruder
#####################################################################

# [include head.cfg]

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PC8
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: PB0
smooth_time: 3.0
#max_power: 0.6                                                      # Only needed for 100w pads
min_temp: 0
max_temp: 120
#control: pid                                                         # Do PID calibration after initial checks
#pid_kp: 57.852
#pid_ki: 3.781
#pid_kd: 221.283


#####################################################################
# Fan Control
#####################################################################

# [fan_generic Nevermore1]
# pin: PA13
# max_power: 1
# shutdown_speed: 0
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.

# [fan_generic Nevermore]
# pin: PA14
# max_power: 1
# shutdown_speed: 0
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.

# [fan_generic Nevermore2]
# pin: PB4
# max_power: 1
# shutdown_speed: 0
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.

# [temperature_fan CM68_Fan]
# pin: PB4
# max_power: 1.0
# min_temp: 12
# max_temp: 100
# kick_start_time: 0.5
# off_below: 0.1
# control: watermark
# sensor_type: temperature_host
# #fan_speed: 1.0 

#####################################################################
# Temperature Sensor
#####################################################################

[temperature_sensor Catalyst_Board]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor CM68]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor Chamber]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PB1  # <--- hier den richtigen Pin eintragen
pullup_resistor: 4700
min_temp: 0
max_temp: 100

#####################################################################
# Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

# [safe_z_home]
# home_xy_position: 120,120                                           # these coordinates must NOT be greater than the values specified in "position_max:" for the X and Y stepperspeed: 50.0
# z_hop: 5


# Tool to help adjust bed leveling screws. One may define a
# [bed_screws] config section to enable a BED_SCREWS_ADJUST g-code
# command.
[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right

[screws_tilt_adjust]
# Sonde soll die Schraube messen. 
# Da die Sonde 20mm LINKS der Düse sitzt (X-20), 
# rücken wir den Messpunkt für X nach links ein.

# Hinten Rechts: Schraube ist bei 115, wir messen bei 95
# (Düse fährt dann auf 95 + 20 = 115 -> Passt!)
screw1: 120, 105        
screw1_name: hinten rechts

# Hinten Links: Schraube ist bei 5, wir messen bei 20
# (Düse fährt auf 20 + 20 = 40 -> Passt!)
screw2: 40, 105           
screw2_name: hinten links

# Vorne Mitte: Schraube ist bei 60, wir messen bei 60
# (Düse fährt auf 60 + 20 = 80 -> Passt!)
screw3: 80, 0           
screw3_name: vorne mitte

horizontal_move_z: 20
speed: 100
screw_thread: CW-M3

#####################################################################
# Neopixel
#####################################################################
[output_pin Chamber_Licht]
pin: PB4
pwm: True
cycle_time: 0.010
value: 1 ; Startet angeschaltet
shutdown_value: 0

[gcode_macro _SET_CHAMBER_LIGHT]
gcode:
    {% set brightness = params.BRIGHTNESS|default(50)|float %}
    SET_PIN PIN=Chamber_Licht VALUE={brightness / 100}

# Optional: Ein einfacher An/Aus Schalter für die Makro-Liste
[gcode_macro LIGHT_ON]
gcode:
    SET_PIN PIN=Chamber_Licht VALUE=1

[gcode_macro LIGHT_OFF]
gcode:
    SET_PIN PIN=Chamber_Licht VALUE=0

[neopixel board_rgb]
pin: PC9
chain_count: 35
color_order: GRB
initial_RED: 0.2
initial_GREEN: 0.2
initial_BLUE: 0.2

#####################################################################
#   Simple V0 Display
#####################################################################

[display]
lcd_type: sh1106
click_pin: ^!PA15
#i2c_bus: i2c1a
#i2c_mcu: mcu
encoder_pins: ^PC1, ^PC2
kill_pin: ^!PB12
vcomh: 60
x_offset: 2
i2c_software_sda_pin: PB9
i2c_software_scl_pin: PB8

[neopixel display_led]
pin: PC6
color_order: GRB
initial_RED: 0
initial_GREEN: 0.1
initial_BLUE: 0.4



  

[virtual_sdcard]
path: /home/pi/printer_data/gcodes/
#   The path of the local directory on the host machine to look for
#   g-code files. This is a read-only directory (sdcard file writes
#   are not supported). One may point this to OctoPrint's upload
#   directory (generally ~/.octoprint/uploads/ ). This parameter must
#   be provided.
on_error_gcode: CANCEL_PRINT
#   A list of G-Code commands to execute when an error is reported.


[exclude_object]
[gcode_arcs]
[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
# number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

[menu __main __octoprint]
type: disabled



[include shell_command.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.478
#*# pid_ki = 11.657
#*# pid_kd = 12.850
#*#
#*# [probe]
#*# z_offset = 8.154
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 65.019
#*# pid_ki = 1.020
#*# pid_kd = 1036.235
#*#
#*# [stepper_z]
#*# position_endstop = 119.295
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.001694, 0.010806, 0.017681
#*# 	  -0.009194, -0.001694, 0.007681
#*# 	  -0.013569, -0.007944, -0.004194
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 49.463899999999995
#*# max_x = 70.2239
#*# min_y = 48.1243
#*# max_y = 76.1843
